
<h1>Formulaire d'ajout d'un employé</h1>

<h2>{{titrePage}}</h2>

<form method="post" action="">

    <input type="text" name="prenom" placeholder="prenom" required>
    
    <input type="text" name="nom" placeholder="nom" required>
    
    <input type="date" name="ddn" placeholder="ddn" required>
    
    <input type="text" name="sexe" placeholder="sexe">

    <input type="text" name="remarque" placeholder="remarque">

    <button type="submit">Valider</button>
    
</form>